{% extends 'template.html' %}

{% load staticfiles %}
{% block title %}
{{ title }}
{% endblock title %}

{% block body %}
{% include 'nav.html' %}
<header id="home">
	<div id="carousel_indicator" class="carousel slide" data-ride="carousel" data-interval="6000">
		<ol class="carousel-indicators">
			<li data-target="#carousel_indicator" data-slide-to="0" class="active"></li>
			<li data-target="#carousel_indicator" data-slide-to="1"></li>
			<li data-target="#carousel_indicator" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			{% for product in pro_carousel_img %}
			{% if forloop.counter == 1 %}
			<div class="carousel-item active">
				{% else %}
				<div class="carousel-item">
					{% endif %}
					<img class="d-block w-100" src="../media/{{ product.image.image_file }}" alt="{{ product.product_name }}" title="{{ product.product_name }}">
					<div class="carousel-caption" id="caption">
						<div id="bg-trunc">
							<h2 class="display-4">{{ product.product_name }}</h2>
							<p class="lead">{{ product.product_by }}</p>
							<p class="trunc">{{ product.product_desc }}</p>
						</div>
						<a href="{% url 'product' value=product.id %}" class="btn btn-primary btn-lg">Read More</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#carousel_indicator" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carousel_indicator" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</header>

<!-- Product -->

<div id="pro" class="offset">
	<div class="container-fluid jumbotron">
		<div class="row">
			<div class="col-lg-12 ">
				<h1 class="text-center">Item Gallery</h1>
				<div class="header-line"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% for product in products %}
 			<div class="col-lg-4 col-md-12 mb-4">
    			<div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      				<div class="modal-dialog modal-lg" role="document">
        				<div class="modal-content">
        					<div class="modal-body mb-0 p-0">
        						<img alt="{{ product.product_name }}" src="../media/{{ product.image.image_file }}" class="img-fluid">
            				</div>
				          	<div class="modal-footer justify-content-center">
            					<span class="mr-4">Item: {{ product.product_name }}</span>
            					<a type="button" class="text-center btn-lg" href="{% url 'product' value=product.id %}">Read More</a>
            					<button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
          					</div>
        				</div>
      				</div>
    			</div>
    			<a>
    				<img class="img-fluid z-depth-1" src="../media/{{ product.image.image_file }}" alt="{{ product.product_name }}" data-toggle="modal" data-target="#modal{{ forloop.counter }}" style="height: 300px;">
    			</a>
    		</div>
    		{% if forloop.counter|divisibleby:3 %}
		</div>
		<div class="row">
    		{% endif %}
    		{% endfor %}
  		</div>
  		<div class="row text-center">
  			<a href="{% url 'products' %}" class="btn btn-dark mb-2" style="margin: 0 auto;">View All</a>
  		</div>
	</div>
</div>

<!-- Product -->

<!-- Event -->
<div id="auction_event" class="offset">
	<div id="event_carousel" class="carousel slide carousel-multi-item mb-3" data-ride="carousel">
		<div class="container-fluid jumbotron">
			<div class="row">
				<div class="col-lg-12 ">
					<h1 class="text-center">Auction Event Catalogue</h1>
					<div class="header-line"></div>
				</div>
			</div>
			<div class="row" id="prev_next">
				<div class="col-xs-12 lead ml-auto">
					<a class="btn btn-secondary-outline prev" id="prev" href="#event_carousel" title="Back"><i class="fa fa-lg fa-chevron-left"></i></a>
					<a class="btn btn-secondary-outline next" id="next" href="#event_carousel" title="Next"><i class="fa fa-lg fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
		<div class="container carousel-inner" role="listbox">
			<div class="carousel-item active">
				{% for event in events %}
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top card-img-top-250" src="../media/{{ event.thumbnail }}" alt="{{ event.event_name }}">
						<div class="card-body">
							<h5 class="card-title">Event: {{ event.event_name }}</h5>
							<p class="card-text trunc">{{ event.event_desc }}
							</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Date: {{ event.event_date }}</li>
							<li class="list-group-item">Location: {{ event.event_location }}</li>
						</ul>
						<div class="card-body">
							<a href="{% url 'event' value=event.id %}" class="card-link">Read More</a>
						</div>
					</div>
				</div>
				{% if forloop.counter|divisibleby:3 %}
			</div>
			<div class="carousel-item">
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
		<div class="row text-center mb-2">
  			<a href="{% url 'events' %}" class="btn btn-dark" style="margin: 0 auto;">View All</a>
  		</div>
</div>
<!-- Event -->

<!-- Story -->
<div id="stories" class="offset">
	<div class="container-fluid jumbotron">
		<div class="row">
			<div class="col-lg-12 ">
				<h1 class="text-center">Top Stories</h1>
				<div class="header-line"></div>
			</div>
		</div>
	</div>
	<!-- Timeline -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="timeline-main">
					<!-- Timeline Wrapper -->
					<ul class="stepper stepper-vertical timeline timeline-animated pl-0">

						<li>
							<!--Section Title -->
							<a href="#!">
								<span class="circle default-color z-depth-1-half"><i class="fa fa-heart" aria-hidden="true"></i></span>
							</a>

							<!-- Section Description -->
							<div class="step-content z-depth-1 ml-2 p-4">
								<h4 class="font-weight-bold">Ut enim ad minim veniam</h4>
								<p class="text-muted mt-3"><i class="far fa-clock" aria-hidden="true"></i> 11 hours ago via
								Twitter</p>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</li>
						<li class="timeline-inverted">
							<!--Section Title -->
							<a href="#!">
								<span class="circle secondary-color z-depth-1-half"><i class="fa fa-users" aria-hidden="true"></i></span>
							</a>

							<!-- Section Description -->
							<div class="step-content z-depth-1 mr-xl-2 p-4">
								<h4 class="font-weight-bold">Duis aute irure dolor</h4>
								<p class=" mt-4 mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
									doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
									architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
									aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
								sequi nesciunt.</p>
							</div>
						</li>
						<li>
							<!--Section Title -->
							<a href="#!">
								<span class="circle primary-color z-depth-1-half"><i class="fa fa-cloud" aria-hidden="true"></i></span>
							</a>

							<!-- Section Description -->
							<div class="step-content z-depth-1 ml-2 p-4">
								<h4 class="font-weight-bold">Sed ut nihil unde omnis</h4>
								<p class="mt-4 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
									adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
									aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
									suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
									reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
								dolorem eum fugiat quo voluptas nulla pariatur?</p>
							</div>
						</li>
						<li class="timeline-inverted">
							<!--Section Title -->
							<a href="#!">
								<span class="circle pink z-depth-1-half"><i class="fa fa-coffee" aria-hidden="true"></i></span>
							</a>

							<!-- Section Description -->
							<div class="step-content z-depth-1 mr-xl-2 p-4">
								<h4 class="font-weight-bold"> Quis autem vel eum voluptate</h4>
								<p class="mt-4 mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
									praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
									occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
								id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
							</div>
						</li>
						<li>
							<!--Section Title -->
							<a href="#!">
								<span class="circle mdb-color z-depth-1-half"><i class="fa fa-instagram" aria-hidden="true"></i></span>
							</a>

							<!-- Section Description -->
							<div class="step-content z-depth-1 ml-2 p-4">
								<h4 class="font-weight-bold">Mussum ipsum cacilds</h4>
								<p class="mt-4 mb-0">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
									saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum
									hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
								perferendis doloribus asperiores repellat.</p>
							</div>
						</li>
					</ul>
					<!-- Timeline Wrapper -->
				</div>
			</div>
		</div>
	</div>
	<!-- Timeline -->
</div>
<!-- Story -->

<!-- Contact -->
<div id="cnt" class="offset">
	<div class="container-fluid jumbotron">
		<div class="row">
			<div class="col-lg-12 ">
				<h1 class="text-center">Contact Us</h1>
				<div class="header-line"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<!--Section: Contact v.2-->
		<section class="mb-3">
		    <!--Section description-->
		    <p class="text-center mb-2 w-responsive mx-auto">If you have any question, please donot hesitate to contact us. You could contact us by below this form.</p>

		    <div class="row">

		        <!--Grid column-->
		        <div class="col-md-9 mb-md-0 mb-5">
		            <form id="contact-form" name="contact-form">

		                <!--Grid row-->
		                <div class="row">

		                    <!--Grid column-->
		                    <div class="col-md-6">
		                        <div class="md-form mb-0">
		                            <input type="text" id="name" name="name" class="form-control">
		                            <label for="name" class="">Your name</label>
		                        </div>
		                    </div>
		                    <!--Grid column-->

		                    <!--Grid column-->
		                    <div class="col-md-6">
		                        <div class="md-form mb-0">
		                            <input type="text" id="email" name="email" class="form-control">
		                            <label for="email" class="">Your email</label>
		                        </div>
		                    </div>
		                    <!--Grid column-->

		                </div>
		                <!--Grid row-->

		                <!--Grid row-->
		                <div class="row">
		                    <div class="col-md-12">
		                        <div class="md-form mb-0">
		                            <input type="text" id="subject" name="subject" class="form-control">
		                            <label for="subject" class="">Subject</label>
		                        </div>
		                    </div>
		                </div>
		                <!--Grid row-->

		                <!--Grid row-->
		                <div class="row">

		                    <!--Grid column-->
		                    <div class="col-md-12">

		                        <div class="md-form">
		                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
		                            <label for="message">Your message</label>
		                        </div>

		                    </div>
		                </div>
		                <!--Grid row-->

		            </form>

		            <div class="text-center text-md-left">
		                <a class="btn btn-primary">Send</a>
		            </div>
		            <div class="status"></div>
		        </div>
		        <div class="col-md-3 text-center">
		            <ul class="list-unstyled mb-0">
		                <li><i class="fa fa-map-marker fa-2x"></i>
		                    <p>Jorpati, Kathmandu, NEPAL</p>
		                </li>

		                <li><i class="fa fa-phone mt-4 fa-2x"></i>
		                    <p>+ 977 013213212</p>
		                </li>

		                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
		                    <p>contact@fotheby.com</p>
		                </li>
		            </ul>
		        </div>
		        <!--Grid column-->

		    </div>

		</section>
		<!--Section: Contact v.2-->
	</div>
</div>
<!-- Contact -->

<!-- About -->
<div id="abt" class="offset mb-0">
	<div class="container-fluid jumbotron">
		<div class="row">
			<div class="col-lg-12 ">
				<h1 class="text-center">About</h1>
				<div class="header-line"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<!--Google map-->
		<div class="z-depth-1-half map-content">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.9142858255777!2d85.38106301468537!3d27.71993263154648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1bbf00000001%3A0x2a1a97b9a3c1d3b6!2sNami+College!5e0!3m2!1sen!2snp!4v1556214552673!5m2!1sen!2snp" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<!-- About -->
{% endblock body %}


