{% extends 'template.html' %}

{% load staticfiles %}
{% block title %}
	{{ title }}
{% endblock title %}

{% block body %}
	{% include 'nav.html' %}
	<div class="container-fluid mb-2" id="body_data">
		<div class="row justify-content-center">
			{% if data %}
				{% for result in data %}
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-3">
						<div class="card">
							<img id="card_fix_img" class="card-img-top card-img-top-350" src="../media/{{ result.image.image_file }}" alt="{{ result.product_name }}" title="{{ result.product_name }}">
							<div class="card-body">
								<u><h3 class="card-title">{{ result.product_name }}</h3></u>
								<p class="card-text"><small class="text-muted">By: {{ result.product_by }} <br> (Date: {{ result.product_date }} A.D.)</small></p>
								<p class="card-text trunc">{{ result.product_desc }}</p>
							</div>
							<div class="card-footer text-muted">
								<a href="{% url 'product' value=result.id %}" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="col-12">
					<h4 class="card-text">No Items found.</h4>
				</div>
			{% endif %}
		</div>
	</div>

{% endblock body %}